@use './style';

.editor-styles-wrapper {
  .wp-block-evangelische-termine-ausgeben-evangelische-termine {
    position: relative;

    &:focus-within {
      box-shadow: 0 0 0 2px rgba(10, 94, 168, 0.45);
    }

    &.ln-eta-legacy {
      border: 0;
      box-shadow: none;

      &:focus-within {
        box-shadow: none;
      }
    }
  }
}
